@tailwind base;
@tailwind components;
@tailwind utilities;

.sidebar-scrollbar::-webkit-scrollbar {
  width: 4px;
}
.sidebar-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.sidebar-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(75, 85, 99, 0.5);
  border-radius: 20px;
}

.content-scrollbar::-webkit-scrollbar {
  width: 6px;
}
.content-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.content-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(75, 85, 99, 0.5);
  border-radius: 20px;
}
